

h5 {
    font-weight: bolder;
}

.mapcontainer{
    width: 100%;
}

.bottomrow{
    padding-top: 10px;
}

.subscribecontainer{
    margin-left: 10%;
}

h1{
    text-align: center;
    padding-top: 10px;
}